@{
    ViewBag.Title = "Colecciones";
}

<h2>
    CATALOGO
    <i>@ViewBag.Title</i>
</h2>


<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@ViewBag.Title</li>
</ol>


<!-- Campo que se reemplaza-->
<div id="renderListaColeccion">
    @{ Html.RenderAction("Lista", "Coleccion"); }
</div>



<script src="~/Scripts/add.toolTip.js"></script>

